doctype html
html
  head
    title Navegador CLAV
    meta(name='viewport', content='width=device-width, initial-scale=1.0', charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    block content
